header.header
    .header_column
        i.fab.fa-youtube
    .header_column
        ul 
            li
                a(href=routes.join) join
            li
                a(href=routes.login) login