extends layouts/main

block content
    .form-container
        form.upload(action=`/videos${routes.editVideo}`, method="post")
            input(type="text", placeholder="Title", name="title")
            textarea(name="textarea", cols="30", rows="5", placeholder="description")
            input(type="submit", value="Edit Video")
            a.for-contatiner__link(href=`/videos${routes.editVideo}`)
        a.fomr-contatiner__link(href=routes.deleteVideo) Delete Video