extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="email", name="email", placeholder="Email")
            input(type="email", name="email2", placeholder="Verify Email")
            input(type="password", name="password", placeholder="Password")
            input(type="submit", name="joinBtn", value="Join now")
        include ./partials/socialLogin
